* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background-color: #F5F5F5;
	color: #2B394A;
    font-size: 16px;
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	
body {
	text-rendering: optimizeLegibility;
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */
	
body, ul, ol, dl {
	margin: 0;
}

h1, h2, h3 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Martel', serif;
}

#hero {
    width: 50%;
    height: 100%;
    background: #C5D0DD;
    position: fixed;
    top:0;
    left:0;
}

#hero img {
    height: 100%;
    width: 100%;
    max-width: 768px;
    margin: auto;
    object-fit: contain;
}

main {
    margin-left: 50%;
}

.content-page {
    margin: 15%;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
    margin-top: 0;
}


.popper {
    background: #2B394A;
	font-weight: 700;
	padding: 0;
	border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 6rem;
    width: 90%;
}

.popper .content-box{
    background-color: #C5D0DD;
    margin: 4rem 0px;
    border: 1px solid #C5D0DD;
    padding: 1rem;
    transform: translate3d(-4px, -4px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    border: 1px solid #2B394A;
	border-radius: 5px;
}

.popper .content-box:hover{
    transform: translate3d(-8px, -8px, 0);
}
    /* everything above is the main structure of the website */
 
    /*nav*/
nav div {
    position:fixed;
    right: 0;
    top: 0;
    width: 5%;
    height: 5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
}

.dropdown {
    position: fixed;
    right: -100%;
    margin-top: 2rem;
    background-color: #FDA5A4;
    opacity: 0.95;
    height: 70%;
    width: 50%;
    z-index: 5;
    transition: 1s ease-in-out;
}

.bar {
    display: block;
    width: 6rem;
    height: 1rem;
    margin: .75rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FDA5A4;
}

.hamburger {
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(175%) rotate(-45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-175%) rotate(45deg);
}

.dropdown li{
    list-style: none;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin: 2rem;
}

.dropdown a{
    text-decoration: none;
    color: #2B394A
}

.dropdown.active {
    right: 0;
}

    /*call to action*/  
button .mail {
    background-color: #FDA5A4;
}

    /* inspiratie */

    #inspiratie .content-box{
    display: flex;
}

#inspiratie .content-box img {
    width: 40%;
    object-fit: contain;
    margin-right: 5%;
}

/* mail mij button */
.button--pandora {
	background: #000;
	font-weight: 700;
	padding: 0;
	border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.button--pandora span {
	display: block;
	background: #FDA5A4;
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
	padding: 1.5rem 2rem;
	border: 1px solid #000;
	border-radius: 5px;
	transform: translate3d(-4px, -4px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--pandora:hover span {
	transform: translate3d(-8px, -8px, 0);
}

.modal-content {
    background-color: #2B394A;
    color: white;
    padding: 4rem;
    box-shadow:5px 5px #000;
    border-radius: 5px;
    border: solid 1px #000;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.modal {
    height: 100%;
    width: 100%;
    display: none;
}

.close-btn {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    left: 90%;
    transition: font-size 0.2s ease-in-out;
}

.close-btn:hover {
    font-size: 3rem;
    
}

.modal-form:first-child {
    margin-top: 3rem;
}

#backgroundOverlay{
    background-color:transparent;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
    z-index: 4;
}

.form-validation {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-validation.error {
    position: relative;
    border: 1px solid red;
    border-radius: 2px;
}

.form-validation.valid {
    position: relative;
    border: 1px solid lightgreen;
    border-radius: 2px;
}

.form-validation p {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color: red;
    position: absolute;
    top: 1.8rem;
    display: none;
}

.form-validation.error p {
    display:block;
}

